section.genericHero {
    &:after {
        background: linear-gradient(to bottom, #87C58E, #4CA179) !important;
    }
}

section.genericHero2 {
    &:after {
        background: linear-gradient(to bottom, #235E8F, #213D6E) !important;
    }
}

section.genericHero3 {
    &:after {
        background: linear-gradient(to bottom, #D9D95B, #D9A429) !important;
    }
}

.message {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
}