

section.hero {
    margin-top: 4rem;
    padding: 1rem;
    background: rgb(3, 52, 59);
    min-width: calc(100% - 2rem);
    height: calc(100vh - 15rem);
    max-height: 500px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../res/heroBG.png");
    background-position: center;
    background-size: cover;

    .mainWrapper {
        display: flex;
        justify-content: space-between;
    }

    .heroBgLogo {
        pointer-events: none;
        position: absolute;
        left: -50%;
        // transform: translateX(50%);
        filter: brightness(0) invert(1);
        opacity: .1;

    }

    .title {
        color: white;
        font-size: 3rem;
        font-weight: 600;
        width: 22rem;
        line-height: 4rem;
    }

    .subTitle {
        color: white;
        font-size: .9rem;
        letter-spacing: .8px;
        width: 42ch;
    }

    .heroBtnSet {
        display: flex;
        gap: 1rem;
        margin: 1rem 0rem;
    }
    .heroBtn {
        border: none;
        padding: .5rem 1.3rem;
        border-radius: 100px;
        font-weight: 700;
    }


    .rCont {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: .5rem;

        & > img {
            width: 7rem;
            height: 7rem;
            object-fit: cover;
            border-radius: 7px;
            box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.158);
        }
    }
}