html, body {
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

:root {
    --font: "Poppins", sans-serif;
    --background: white;
    --accent: #31b3b1;
    --text: #222222;
    --sub-text: #7b7b7b;
}

* {
    font-family: var(--font);
}


.mainWrapper {
    position: relative;
    display: flex;
    gap: 1rem;
    align-items: center;
    top: 0;
    width: 100%;
    max-width: 1200px;
    height: 100%;
}


/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--background);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 10px;
   
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }